*.suo
*.sdf
*.opensdf
*.ipch

/Binaries/*
/DerivedDataCache/*
/Intermediate/Build/*
/Saved/*

/.vs/RoguelikeThing/v17/Browse.VC.db
/.vs/RoguelikeThing/v17/Solution.VC.db
/.vs/RoguelikeThing/v17/Solution.VC.db-wal