*.suo
*.sdf
*.opensdf
*.ipch
*.db-shm
*.opendb

/Binaries/*
/DerivedDataCache/*
/Intermediate/Build/*
/Saved/*
/Temp/*
/BackUp/*
/.vs/RoguelikeThing/FileContentIndex/*

/.vs/RoguelikeThing/v17/Browse.VC.db
/.vs/RoguelikeThing/v17/Solution.VC.db
/.vs/RoguelikeThing/v17/Solution.VC.db-wal